<div class="jumbotron">
  <h1 class="display-4">Health checker!</h1>
  <p class="lead">Health check app to monitor different micro-services via the health status and profile end points.</p>
  <hr class="my-4">

  <!-- servers -->
  <div class="row card-group">
    <div class="col-4" *ngFor="let server of servers">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{server.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{server.deployment}} deployment</h6>
          <p *ngIf="server.primaryDeployment; else primaryDeployment"  class="card-text"> This is a primary deployment</p>
         <ng-template #primaryDeployment>
           <p>The primary deployment is {{server.deployment}}</p>
         </ng-template>

         <!-- overall percentage -->
          <app-overall [linkToOverall]="server.customLinks[1].href"></app-overall>
          <!--<a href="{{server.customLinks[0].href}}" class="card-link">Card link</a>-->
          <a href="#" class="card-link">View Health Check</a>
        </div>
      </div>
    </div>
  </div>

</div>
