<h1>Health Check List</h1>

<a routerLink="/">Go To Home</a>

<ul>
  <!--<li *ngFor="let healthcheck of healthChecks">-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Artifact</th>
          <th scope="col">Version</th>
          <th scope="col">Commit</th>
          <th scope="col">Response Code</th>
          <th scope="col">Time stamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let healthcheck of healthChecks">
          <td>{{healthcheck.artifactId}}</td>
          <td>{{healthcheck.version}}</td>
          <td>{{healthcheck.buildSHA}}</td>
          <td>{{healthcheck.responseCode}}</td>
          <td>{{healthcheck.createdDateTime}}</td>
        </tr>

      </tbody>
    </table>
  <!--</li>-->
</ul>
<a routerLink="/">Go To Home</a>
